body
{
    background-color: #1e1e2e;
}

.navBar
{
    display: flex;
    align-items: center;
    background: #0082e6;
    height: 80px;
    width: 100%;
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal;
}

.navBar label
{ 
    padding-left: 20px;
    color: #000000;
    font-size: 45px;
}

.navBar ul
{
    list-style: none;
    display: flex;
    gap: 25px;
    margin-left: auto;
    padding: 0;
}

.navBar a:hover
{
    color: rgb(92, 70, 128);
}

.navBar a
{
    color: white;
    text-decoration: none;
    padding: 0px;
}

.myBtn
{
    background-color: #9399b2;
    padding: 2px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.myBtn:hover
{
    background-color: #6c7086;
}

.logForm *
{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-size: 20px;
    color: #b4befe;
    font-style: normal;
}

.regForm *
{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-size: 20px;
    color: #b4befe;
    font-style: normal;
}

.myTbx
{
    color:#000000;
}

.buttons
{
    width: 150px;
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-top: 10px;
} 

#regLabel
{
    font-size: 30px;
    padding-top: 150px;
    padding-bottom: 50px;
}

#logLabel
{
    font-size: 30px;
    padding-top: 150px;
    padding-bottom: 50px;
}

#myLi
{
    font-size: 30px;
}

#newTaskForm 
{
    display: none;
}

#taskList
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

/*
https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow
*/

#taskList li {
    background-color: #181825;
    border: 1px solid #45475a;
    border-radius: 12px;
    padding: 16px;
    width: 250px;
    box-shadow: 0 2px 8px #00000066;
}

#taskList li label {
    font-weight: bold;
    font-size: 23px;
    display: blocK;
    padding-bottom: 8px;
    color: #b4befe;
}

#taskList li p {
    margin: 4px 0;
    color: #a6adc8;
}

.tasksUI {
    background-color: #181825;
    border-radius: 16px;
    box-shadow: 0 4px 20px #00000066;
    padding: 30px 35px;
    width: 60%;
}

#newTaskForm h1 {
    text-align: center;
    color: #b4befe;
    margin-bottom: 20px;
}

#newTaskForm label {
    display: block;
    margin-top: 12px;
    font-weight: 600px;
    color: #a6adc8;
}

#newTaskForm input,
#newTaskForm textarea,
#newTaskForm select {
    width: 100%;
    margin-top: 6px;
    padding: 10px;
    border: 1px solid #45475a;
    border-radius: 8px;
    background-color: #313244;
    color: #cdd6f4;
    font-size: 14px;
    box-sizing: border-box;
}
